.game {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    margin: -2px;
}
.game button {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 0.5px solid lightgrey;
}
.game button.alive {
    background-color: coral;
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.settings button{
    width: 100px;
    height: 20px;
    background-color: wheat;
    margin-top: 20px;
}