<div class="game">
  <div class="row" *ngFor="let row of numRows | numToArr">
    <div class="col" *ngFor="let col of numCols | numToArr" (mousedown)="onSelectionStart(row, col);" (mouseup)="onSelectionEnd();">
      <button
        (click)="onMouseOver(row, col)"
        (mouseover)="onMouseOver(row, col)"
        [ngClass]="{ alive: board.status(row,col) === 1}"
        ></button>
    </div>
  </div>
</div>

<div class="info">
  <button (click)="onClickPause();">{{ this.gameStatus === -1 ? "Start" : "Pause" }}</button>
  <button (click)="onClear();"> CLEAR</button>
</div>