.container {
    margin: 0 auto;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
}

.game {
    margin: auto;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    margin: -5px auto;
}
.game button {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 0.5px solid lightgrey;
}

.game button.alive {
    background-color: coral;
}

.game button:hover {
    background-color: rgba(255,127,80, 0.5);
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}


#chart {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    border: 3px solid green;
}

.highcharts-container{
    width: 100% !important;
  }
  
  .highcharts-root{
    width: 100% !important;
  }