<div class="game">
  <div class="row" *ngFor="let row of numRows | numToArr">
    <div class="col" *ngFor="let col of numCols | numToArr" (mousedown)="onSelectionStart(row, col);" (mouseup)="onSelectionEnd();">
      <button
        (click)="onMouseOver(row, col)"
        (mouseover)="onMouseOver(row, col)"
        [ngClass]="{ alive: board.status(row,col) === 1}"
        ></button>
    </div>
  </div>
</div>

<div class="settings">
  <button (click)="onClickPause();">{{ [-1,1].includes(this.gameStatus) ? "Start" : "Pause" }}</button>
  <button (click)="onClear();"> CLEAR</button>
</div>
<div class="stats">
  <ul>
    <li>alive cells: {{board.alive}}</li>
    <li>generation: {{this.generation}}</li>
  </ul>
</div>