<div class="container">
  <div class="game">
    <div class="row" *ngFor="let row of numRows | numToArr">

      <button *ngFor="let col of numCols | numToArr" (mouseover)="onMouseOver(row, col)"
        (mousedown)="onSelectionStart(row, col);" (mouseup)="onSelectionEnd();"
        [ngClass]="{ alive: board.status(row,col) === 1}"></button>

    </div>
  </div>
  <div id="chart"></div>

  <div class="settings">
    <button mat-mini-fab color="accent" (click)="onClickPause()" [disabled]="board.alive === 0">
      <mat-icon>{{ this.gameStatus == -1 ? 'play_arrow' : (this.gameStatus == 0 ? 'pause' : 'play_arrow') }}</mat-icon>
    </button>
    <button (click)="onClear();" [disabled]="board.alive === 0 && this.generation === 0" mat-mini-fab color="primary">
      <mat-icon>stop</mat-icon>
    </button>
    <button (click)="randomize()" mat-mini-fab color="primary">
      <mat-icon>transform</mat-icon>
    </button>
    <button (click)="onSaveBoard()" [disabled]="board.alive === 0 && this.generation === 0" mat-mini-fab color="basic">
      <mat-icon>save</mat-icon>
    </button>
    <select (change)="onLoadBoard($event.target.value)" id="select-board" name="board">
      <option [selected]="true" >latest</option>
      <option *ngFor="let b of boards" [value]="b.id">{{b.id}}</option>
    </select>
  </div>
  <div class="stats">
    <mat-icon matBadge="{{board.alive}}" matBadgeColor="warn">dashboard</mat-icon>
    <mat-icon matBadge="{{generation}}" matBadgeColor="warn">alarm</mat-icon>
  </div>

</div>