.game {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    margin: -4px;
}
.game button {
    width: 10px;
    height: 10px;
    background-color: white;
    border: 0.5px solid lightgrey;
}
.game button.alive {
    background-color: coral;
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.settings button{
    width: 100px;
    height: 20px;
    background-color: wheat;
    margin-top: 20px;
}

#chart {
    height: 70px;
    margin-top: 10px;
    width: calc(100% * 2);
}